<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
   <div fxFlex>
  <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>
  <mat-list fxFlex>
    <mat-list-item *ngFor="let pizza of pizzas">
      <img matListAvatar src={{pizza.image}} alt={{pizza.name}}>
      <h1 matLine> <Strong>{{pizza.name}}</Strong> <span class="space">₹{{pizza.price}}</span>
        <span class="space">{{pizza.category}}</span>
      </h1>
      <p matLine>
        <span> <strong>Ingredients:</strong>{{pizza.description}} </span>
      </p>
      <button mat-button (click)=add_to_cart(pizza)>Add to Cart</button>
      
    </mat-list-item>
    <hr>
  </mat-list>

</div>
